* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  max-width:100%;
  display:grid;
}

/* SECTION 1: HEADER */
header {
  background-color:#000;
  color:#fff;
  display:flex;
  width:100vw;
  height:auto;
  flex-direction:column;
}

#logo {
  justify-content:center;
  align-items:center;
  height:65%;
  padding:1em;
  border-bottom:0.5px solid #d3d3d3;
}

#navbar {
  display:flex;
  justify-content:center;
  height:100%;
  list-style:none;
}

#logo {
  display:flex;
  align-items:center;
}

#logo img {
  height:25px;
}

#navbar li {
  width:100%;
  padding:0.4em;
  text-align:center;

}

/* SECTION 2: BODY ARTICLE */
section {
  display:grid;
  grid-template-columns:80% 20%;
  justify-content:center;
  padding:3em;
  column-gap:1em;
  width:100vw;
}

article {
  display:flex;
  margin-right:3em;
  flex-direction:column;
  row-gap:1em;
  padding-right:3em;
  border-right:1px solid #d3d3d3;
}

article img {
  height:200px;
  max-width:90%;
  object-fit:cover;
}

.para-indent {
  margin-left:2.5em;
}

.article-numberings {
  padding-top:1em;
}

.transition {
  padding-bottom:1em;
}

aside {
  display:flex;
  justify-content:center;
  align-items:start;
}

#promotion {
  height:fit-content;
  padding:1.5em;
  border:1px solid #000;
}

/* SECTION 3: FOOTER */
footer {
  display:flex;
  background-color:#000;
  justify-content:center;
  align-items:center;
  padding:1.5em;
  min-height:5em;
  width:100vw;
  border:1px solid #000;
}